<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php
// Setting variables
$_product = $this->getProduct();

$hideCartButton = false;
$hideQuoteButton = Mage::helper('qquoteadv')->hideQuoteButton($_product);
if (Mage::getConfig()->getModuleConfig('Ophirah_Not2Order')->is('active', 'true') && $_product->getData('quotemode_conditions') > 0) {
    $hideCartButton = Mage::helper('not2order')->autoHideCartButton($hideQuoteButton);
}

$buttonTitle = Mage::helper('catalog')->__('Add to Cart');
$url = $this->helper('qquoteadv/catalog_product_data')->getUrlAdd2QquoteadvById($_product->getId());
$action = $this->helper('qquoteadv/catalog_product_data')->getAddToQuoteAction($_product->getId());

/**
 * Dynamic increment
 * 
 * @author Anowave
 * @package Anowave_Kaldi
 */
if (Mage::helper('core')->isModuleEnabled('Anowave_Kaldi'))
{
	$inc = $this->helper('kaldi')->getQty($_product);
	$lbl = $this->helper('kaldi')->getLbl($_product);
}
else 
{
	$inc = 5;
	$lbl = __('Lbs:');
}
?>
<script>
	var Factory = (function($)
	{
		return {
			bind: function(increment)
			{
				$(document).ready(function()
				{
					$('.qty-decrease').off('click').click(function() 
					{
	                    var currentQty = $('#qty').val();

	                    if (currentQty == increment) 
	                    {
	                        return;
	                    } 
	                    else 
	                    {
	                        $('#qty').attr('value', (parseInt(currentQty) - increment));
	                    }
	                });

	                $('.qty-increase').off('click').click(function() 
	                {
	                    var currentQty = $('#qty').val();

	                    $('#qty').attr('value', (parseInt(currentQty) + increment));
	                });

	                $('#qty').off('change').change(function() 
	                {
	                    var newValue = Math.round($(this).val().replace('-', ''));

	                    var currentValue = $(this).val();

	                    if (currentValue === '0' || currentValue % increment !== 0) 
	                    {
	                        $(this).val(increment);
	                    }
	                });

	                $('.super-attribute-select').change(function() 
	                {
	                    var newOnePound = $('.one-pound span').html();

	                    a = parseFloat(newOnePound.replace('$', ''));

	                    $('.five-pounds span').html('$' + (a * increment).toFixed(2));
	                });
				});
			}
		}
	})(jQuery);
</script>
<div class="add-to-cart">

    <?php if ($_product->isSaleable() && $hideCartButton === false): ?>
        <?php if(!$_product->isGrouped() && !$_product->isConfigurable()) : ?>
        <label for="qty"><?php echo $this->__('Qty:') ?></label>
        <div class="product-qty">
            
            <input type="button" class="qty-decrease" />
            <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
            
            <input type="button" class="qty-increase" />
            <script>Factory.bind(<?php echo $inc ?>)</script>
        </div>
        <?php endif; ?> 
        <?php if($_product->isConfigurable()) : ?>
            <label for="qty"><?php echo $this->__('Lbs:') ?></label>
            <div class="product-qty">

                <input type="button" class="qty-decrease" />
                <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $inc ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                <input type="button" class="qty-increase" />
                <script>Factory.bind(<?php echo $inc ?>)</script>
            </div>
        <?php endif; ?>
        <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart"
                onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span>
        </button>
        <?php echo $this->getChildHtml('', true, true) ?>
    <?php endif; ?>

    <?php if (Mage::helper('qquoteadv')->isEnabled()): ?>
        <?php if ($_product->getData('allowed_to_quotemode') == 1 && $hideQuoteButton === false && $_product->getStockItem()->getIsInStock()): ?>
            <!--        <span style="float: left; padding-right: 2px;">&nbsp;</span> -->
            <?php if (!$_product->isGrouped() && (!$_product->isSaleable() || $hideCartButton === true)): ?>
                <label for="qty"><?php echo Mage::helper('catalog')->__('Qty:'); ?></label>
                <input type="text" name="qty" id="qty" maxlength="12"
                       value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo Mage::helper('catalog')->__('Qty') ?>"
                       class="input-text qty"/>
                <script>removeFormUrl("<?php echo $url; ?>")</script>
            <?php endif; ?>
            <button type="button" title="<?php echo Mage::helper('qquoteadv')->__("Add to Quote"); ?>"
                    class="button btn-cart btn-quote"
                    onclick="<?php echo $action; ?>">
                <span><span><?php echo Mage::helper('qquoteadv')->__("Add to Quote"); ?></span></span></button>

        <?php endif; ?>
    <?php endif; ?>
</div>
